body, html {
    height: 100%;
    margin: 0;
}
  
.masthead {
    /* background-image: url("../static/img/heart-cookies.jpg"); */
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    position: fixed;
    height: 100px;
    width: 100%;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
footer ul {
    list-style-type: none;
    text-align: center;
   
    font-size: 0px;
    margin: 0px;
    padding: 0px;
}
li:hover {
    transform: translateY(-5px) scale(1.05);
}

footer li {
    display: inline;
    margin: 0 10px;
   
    font-size: 2rem;
   
}

footer p {
    font-size: 1.5rem;
    font-weight: 900;
    padding-top: 5px;
    text-align: center;  
   
    
}

footer i {
    color: var(--dark-green);
}
