{% extends "base.html" %}

{% block header %}
{% set image_link =  url_for('static', filename='img/heart-cookies.jpg')  -%}
<header class="masthead" style="background-image: url('{{image_link}}'); width: 100%; height: 50%;">
    
</header>
{% endblock %}


{% block content %}
<h1>
    hello {{ session.user }}
</h1>


{% if session.user %}
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
<a href="{{ url_for('login') }}">login</a>
<a href="{{ url_for('register') }}">Register</a>
{% endif %}
{% endblock %}