{% block title %}
    <title>Top Ten</title>
{% endblock %}

{% block content %}
    <div class="poems-block">
        <ul>
            {% for poem in poem_list %}
                <li>
                    <ul>
                        <li> {{ poem.title }}</li>
                        <li>By: {{ poem.author }}</li>
                        <li><p>{{ poem.text }}</p></li>
                        {% if poem.copyright %}
                            <li><span>{{ poem.copyright }}</span></li>
                        {% endif %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% if session.user %}
        <a href="">add new poem</a>

        <form action="">
        <label for="">
            Author
            <input type="text" name="author">
        </label>
        <br>
        <label for="">
            Poem Title
            <input type="text" name="title">
        </label>
        <br>

        <label for="textarea"></label>

        <textarea id="textarea" name="text">
        </textarea>

        </form>


    {% endif %}
{% endblock %}